---
import MainLayout from "../layouts/MainLayout.astro";
import IconButton from "../components/IconButton.astro";
---

<MainLayout title="DURSIA - Demo">
  <main class="flex justify-center items-center h-screen relative">
    <IconButton href="/">
      <img src="../assets/icons/arrow-back.svg" alt="back arrow" class="fixed bottom-4 right-4 z-50 w-14 h-14 md:bottom-8 md:right-8 rounded-full bg-black/30 p-2 backdrop-blur-sm hover:bg-black/50 transition" />
    </IconButton>
    <video autoplay controls class="max-h-[92vh]"><source type="video/mp4" src="../assets/video/dursia-demo-82mb.mp4" /></video>
  </main>
</MainLayout>
