---
import MainLayout from "../layouts/MainLayout.astro";
import IconButton from "../components/IconButton.astro";
---

<MainLayout title="Demo">
  <main class="flex justify-center items-center h-screen relative">
    <IconButton href="/">
      <img src="/src/assets/icons/arrow-back.svg" alt="back-arrow" class="w-14 h-14 absolute z-10 bottom-0 m-2 p-2 right-0" />
    </IconButton>
    <video autoplay controls><source type="video/mp4" src="/src/assets/video/dursia-demo-82mb.mp4" /></video>
  </main>
</MainLayout>
