---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Features">
  <main class="container m-auto p-4 snap-y snap-mandatory overflow-y-scroll gap-8 h-screen scroll-smooth flex flex-col">
    <img src="../assets/images/dursia1.png" alt="dursia screenshot" class="snap-center w-auto h-screen object-contain" />
    <img src="../assets/images/dursia2.png" alt="dursia screenshot" class="snap-center w-auto h-screen object-contain" />
    <img src="../assets/images/dursia3.png" alt="dursia screenshot" class="snap-center w-auto h-screen object-contain" />
    <img src="../assets/images/dursia4.png" alt="dursia screenshot" class="snap-center w-auto h-screen object-contain" />
    <img src="../assets/images/dursia5.png" alt="dursia screenshot" class="snap-center w-auto h-screen object-contain" />
    <img src="../assets/images/dursia6.png" alt="dursia screenshot" class="snap-center w-auto h-screen object-contain" />
    <img src="../assets/images/dursia7.png" alt="dursia screenshot" class="snap-center w-auto h-screen object-contain" />
    <img src="../assets/images/dursia8.png" alt="dursia screenshot" class="snap-center w-auto h-screen object-contain" />
    <img src="../assets/images/dursia9.png" alt="dursia screenshot" class="snap-center w-auto h-screen object-contain" />
    <img src="../assets/images/dursia10.png" alt="dursia screenshot" class="snap-center w-auto h-screen object-contain" />
    <img src="../assets/images/dursia11.png" alt="dursia screenshot" class="snap-center w-auto h-screen object-contain" />
    <img src="../assets/images/dursia-logo.png" alt="dursia screenshot" class="snap-center w-auto h-screen object-contain" />
  </main>
</MainLayout>
