---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import dursiaLogo from "../assets/images/dursia-logo.png";
import Button from "../components/Button.astro";
---

<MainLayout title="Titel">
  <main class="h-screen grid grid-cols-2 grid-rows-[5fr_1fr] container mx-auto p-6 gap-y-25 gap-x-10 content-center">
    <Image class="w-full p-10 self-center col-span-full" src={dursiaLogo} alt="dursia logo" />
    <div class="flex justify-center items-center">
      <Button href="demo">Demo</Button>
    </div>
    <div class="flex justify-center items-center">
      <Button href="features">Features</Button>
    </div>
  </main>
</MainLayout>
