---
const { href } = Astro.props;
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<a href={href} class="inline-flex
  items-center justify-center gap-2.5 w-[9rem]
  px-[1.75rem] py-[0.188rem]
  rounded-lg border border-image-[linear-gradient(to_right,#FEFEFE,#353535)_1] bg-transparent text-white"><slot /></a>
